#navBar {
  box-shadow: 0 0 12px -2px skyblue;
  left: 0;
  right: 0;
  align-items: center;
  background-color: #8c92ac ;
  height: 80px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
}

.anime-card {
  width:152px;
	float:left;
	padding-right:12px;
}

.anime-card image {
  float:left;
	width:152px;
	height:214px;
	position:relative;
}
